fastapi==0.115.8
uvicorn==0.34.0
strawberry-graphql==0.259.0
pandas>=2.0
pymongo==4.11.0
python-dotenv==1.0.1
nltk==3.9.1
aiohttp==3.11.11
numpy>=2.0
tensorflow==2.18.0
python-multipart==0.0.5
git+https://github.com/enRichMyData/crocodile.git#egg=crocodile
